@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Pretendard-Regular";
  font-optical-sizing: auto;
}

.navSearch {
  align-items: center;
  display: inline-block;
  width: 450px;
  height: 40px;
  border: 1px solid #545454;
  border-radius: 30px;
  padding: 1% 8%;
  font-size: 16px;
}

.navSearchText {
  display: inline-block;
  border: none;
  line-height: 16px;
  vertical-align: middle;
}

input:focus {
  outline: none;
}

.navSearchBtn {
  background: url("../img/search.png") no-repeat;
  border: none;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 50px;
  vertical-align: middle;
}

/* login modal */
.member_body {
  text-align: center;
  margin: 0 18%;
}

.member_login_input {
  border: 1px solid #545454;
  border-radius: 20px;
  margin-top: 12%;
  height: 50px;
  vertical-align: middle;
  text-align: center;
}

.member_login_input > input {
  border: none;
  display: inline-block;
  height: 40px;
}

.member_login_btn {
  justify-content: space-around;
  display: flex;
  margin: 15% 10% 10% 10%;
}

.member_login_btn1 {
  border: none;
  border-radius: 15px;
  background-color: #ff914d;
  color: white;
  padding: 5% 8%;
}

.member_login_btn2 {
  border: 1px solid #545454;
  border-radius: 15px;
  padding: 5% 8%;
}

/*------------ main -------------*/
/* slide */
.wallpaper {
  margin-top: 30px;
}

.slideText {
  position: absolute;
  top: 30%;
  left: 25%;
  color: white;
  font-size: 30px;
}

.slideBtn {
  background-color: #ff914d;
  border-radius: 20px;
  font-size: 20px;
  padding: 2% 5%;
  color: white;
  font-weight: bold;
  border: none;
  margin-top: 10%;
}

.MEMORAVEL {
  color: #ff914d;
}

/* writedown */
.writedown {
  padding: 5% 10%;
}

.titletext {
  font-size: 20px;
}

.selectoption {
  border: 1px solid #f1f1f1;
  border-radius: 100px;
  box-shadow: 4px 4px 10px 2px#c0c0c0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5% 8%;
  margin-top: 5%;
  vertical-align: middle;
}

.selectDest {
  display: flex;
  border-right: 2px solid #545454;
  padding-right: 30px;
  vertical-align: middle;
}

.selectDate {
  display: flex;
  width: 150px;
  vertical-align: middle;
}

.selectCategory {
  border-left: 2px solid #545454;
  padding-left: 30px;
  display: flex;
  vertical-align: middle;
}

.selectBtn {
  height: 50px;
  width: 180px;
  border: none;
  color: white;
  background-color: #ff914d;
  border-radius: 30px;
  vertical-align: middle;
}

.cardshow {
  padding: 10% 10% 10% 10%;
}

.card1 {
  border: none;
  border-radius: 40px;
  margin: 10% 3%;
  padding: 5%;
  height: 300px;
  background-image: url("../img/tripp.png");
  box-shadow: 4px 4px 5px 2px#c0c0c0;
}

.trip_title {
  color: white;
  font-size: 24px;
  padding-left: 20%;
}

/* footer */
.site-footer {
  background-color: #545454;
  color: white;
  padding: 5%;
}
