* {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
}

.navSearch {
  align-items: center;
  display: inline-block;
  width: 450px;
  height: 40px;
  border: 1px solid #545454;
  border-radius: 30px;
  padding: 1% 8%;
  font-size: 16px;
}

.navSearchText {
  display: inline-block;
  border: none;
  line-height: 16px;
}

input:focus {
  outline: none;
}

.navSearchBtn {
  background: url("../img/search.png") no-repeat;
  border: none;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 50px;
  vertical-align: middle;
}

/*------------ main -------------*/
/* ----------- slide ----------- */
.slideText {
  position: absolute;
  top: 30%;
  left: 25%;
  color: white;
  font-size: 30px;
}

.slideBtn {
  background-color: #ff914d;
  border-radius: 20px;
  font-size: 20px;
  padding: 2% 5%;
  color: white;
  font-weight: bold;
  border: none;
  margin-top: 10%;
}

.MEMORAVEL {
  color: #ff914d;
}
